*,
*::after,
*::before {
  box-sizing: border-box;
}

.square_btn {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;
  color: rgba(0, 69, 212, 0.47);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4);
  background-image: -webkit-linear-gradient(#6795fd 0%, #67ceff 100%);
  background-image: linear-gradient(#6795fd 0%, #67ceff 100%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #5e7fca;
}

.square_btn:active {
  -ms-transform: translateY(4px);
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}

.square_btn:hover {
  -ms-transform: translateY(4px);
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}

.analog-clock {
  text-decoration: none;
  pointer-events: none;
}

.analog-clock:hover {
  cursor: default;
}

.fabrication-main-container {
  background-color: #f2f2f2;
  background-size: cover;
  position: absolute;
  width: 100% !important;
  height: 100% !important;
}

.loader {
  background: url("../assets/images/background.jpg");
  background-size: cover;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.loader-image {
  height: 150px;
  width: 150px;
}

.login-page {
  background: url("../assets/images/background.jpg");
  background-size: cover;
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

#login-page-text {
  font-size: 52px;
  margin-top: 200px;
  color: white;
  opacity: 0.6;
  line-height: 1;
}

#login-page-text:hover {
  opacity: 0.8;
  cursor: default;
}

@media only screen and (max-width: 500px) {
  #login-page-text {
    font-size: 52px;
    margin-top: 150px;
    color: white;
    opacity: 0.6;
    line-height: 1;
  }
}

#btn-login {
  margin-top: 10px;
  width: 190px;
  opacity: 0.6;
  font-weight: 300;
  color: white;
  font-size: 1.8rem;
  border: none;
  background: #053b57;
  padding: 1.2rem;
}

#btn-login:hover {
  opacity: 0.8;
  width: 190px;
  font-weight: 300;
  color: white;
  font-size: 1.8rem;
  border: none;
  background: rgb(121, 94, 197);
  padding: 1.2rem;
}

.login-page-content {
  position: absolute;
}

/*  Income Page */

#title-heading {
  text-align: center;
  margin: 0;
  text-transform: uppercase;
  text-shadow: 5px 5px 5px rgba(150, 150, 150, 0.7);
  color: #28b48554;
  font-size: 3.5rem;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient( to right, #28b485, #7ed56f);
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.2s;
}

#title-heading:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba( #000, 0.2);
}